@page "/JogosPorDesenvolvedoras"  
@inject JogoAPI jogoAPI  

<h3>Jogos por desenvolvedora</h3>  
@if (jogos is not null)  
{  
    <MudGrid>  
        @foreach (var jogo in jogos)  
        {  
            <MudItem xs="3">  
                <CardJogo Jogo=jogo />  
            </MudItem>  
        }  
    </MudGrid>  
}  

@code {  
    private ICollection<JogoResponse>? jogos;  
    protected override async Task OnInitializedAsync()  
    {  
        jogos = await jogoAPI.GetJogosAsync();  
    }  
}
